apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ app_name }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 5
  selector:
    matchLabels:
      app: {{ app_name }}
  template:
    metadata:
      labels:
        app: {{ app_name }}
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: cloud.google.com/gke-spot
                    operator: In
                    values:
                      - "true"
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - {{ app_name }}
                topologyKey: kubernetes.io/hostname
      containers:
        - name: {{ app_name }}
          image: {{ app_name }}
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 3000
          envFrom:
          - secretRef:
              name: regular.env
          - secretRef:
              name: key.env
          env:
          - name: POD_ID
            valueFrom:
              fieldRef:
                fieldPath: metadata.labels['apps.kubernetes.io/pod-index']
          resources:
            requests:
              cpu: 100m
              memory: 300Mi
            limits:
              cpu: 8
              memory: 8Gi
          livenessProbe:
            initialDelaySeconds: 60
            timeoutSeconds: 5
            periodSeconds: 10
            failureThreshold: 2
            httpGet:
              port: http
              path: /healthz
          readinessProbe:
            initialDelaySeconds: 5
            timeoutSeconds: 5
            periodSeconds: 5
            failureThreshold: 1
            httpGet:
              port: http
              path: /healthz
