resources:
  - pdb.yml
  - service.yml
  - virtualservice.yml
secretGenerator:
- name: regular.env
  envs:
  - regular.env
- name: key.env
  envs:
  - key.env
generatorOptions:
  disableNameSuffixHash: true
